################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HospitalManagement/v17/.suo
/.vs/HospitalManagement/v17/.suo
/.gitignore
